@model List<Employee>

@*
    <div>
        <div>
            All Employees
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Department</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                foreach(var item in Model)
                {
                    <tr>
                         <td>@item.id</td>
                         <td>@item.name</td>
                         <td>@item.email</td>
                         <td>@item.department</td>
                    </tr>
                }
            }
                </tbody>
            </table>            
        </div>
    </div>
*@
<div>
    <div>
        All Employees
    </div>

@{
    foreach(var emp in Model)
    {
         <div class="card" style="width: 18rem;">
    <h4 class="card-title">@emp.name</h4>

  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
                <h5 class="card-text">id: @emp.id</h5>
                <h5 class="card-text">email: @emp.email</h5>
                <h5 class="card-text">department: @emp.department</h5>

                    <a asp-controller="home" asp-action="details" asp-route-id="@emp.id" class="btn btn-primary">View</a>
                    <a href="#" class="btn btn-danger">Delete</a>

  </div>
</div>
        
    }
}
</div>
  