@model HomeDetailsViewModel


@*
    <div>
         <div>
                @Model.Title
        </div>
        <div>
            <div>
                Name: @Model.data.name
            </div>
        </div>
        <div>
            <div>
                Email: @Model.data.email
            </div>
        </div>
        <div>
            <div>
                Department: @Model.data.department
            </div>
        </div>
    </div>*@

    <div class="card" style="width: 18rem;">
    <h4 class="card-title">@Model.data.name</h4>

  <img src="~/images/dp.jpg" class="card-img-top" alt="..." asp-append-version="true">
  <div class="card-body">
        <h5 class="card-text">id: @Model.data.id</h5>
        <h5 class="card-text">email: @Model.data.email</h5>
        <h5 class="card-text">department: @Model.data.department</h5>

        <a asp-controller="home" asp-action="AllEmployees" class="btn btn-primary">Back</a>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>

  </div>
</div>